@import "./stylesheet.scss";


.services__wrapper {
    // background-color: #2A6453;
    
    // background: rgb(89,75,51);
    // background: linear-gradient(135deg, rgba(89,75,51,1) 12%, rgba(112,94,64,1) 37%, rgba(42,100,83,1) 63%, rgba(32,77,64,1) 88%);

    // background: rgb(89,75,51);
    // background: linear-gradient(135deg, rgba(89,75,51,1) 5%, rgba(32,77,64,1) 95%);

    background: rgb(64,51,30);
    background: linear-gradient(156deg, rgba(64,51,30,1) 30%, rgba(32,77,64,1) 95%);


}

.services__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;


    .services__h2 {
        margin: 3em auto;
        color: #b2b2b2;
        font-family: "Roboto-Regular";
        letter-spacing: 3px;
        font-size: 30px;
    }

    .services {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 21vh;
    }

    .service__item-wrapper {
        display: flex;
        flex-direction: column;
        border: 2px solid white;
        max-width: 370px;

        .service__item-image {
            // background-image: url("../../img/love.jpg") no-repeat;
            // background-size: cover;
            // background-position: center;
            width: 100%;
            height: 100%;
        }

        .service__item-h3 {
            margin: 20px auto;
            color: #b2b2b2;
            font-size: 24px;
            font-family: "Roboto-Medium";
        }

        .service__item-description {
            // margin: 0 auto;
            padding: 0 10px;
            font-size: 20px;
            font-family: "Roboto-Light";
            color: #b2b2b2;
        }
    }
}